.firebase-auth-container {
  background-color: black;
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

nav {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 8.0vw;
  width: 100%;
}

nav:after {
  content: ""; 
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), beige);
  z-index: -1;
}
nav img {
  position: absolute;
  opacity: .3;
  left: 8vw;
  width: 6%;
  height: 70%;
}
nav button {
  position: relative;
  float: right;
  margin-right: 20px;
  width: 12.0vw;
  color: darkblue;
  background-color: beige;
  padding: 14px 16px;
  font-size: 1.7vw;
  font-style: italic;
  box-shadow: 5px 5px 5px darkblue;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

nav button:hover {
  background-color: rgb(36, 36, 192);
  color: beige;
}

nav h1 {
  position: absolute;
  border-left: 10px;
  border-right: 10px;
  font-weight: lighter;
  left: 6vw;
  font-size: 3.2vw;
  color: beige;
  font-family: Arial, Helvetica, sans-serif
}

nav h1 span {
  color: darkblue;
  font-weight: bold;
  font-style: italic;
}

/*Making the modal container
/* Hide the modal container by default */
#modal-container {
  display: none;
}

/* Style the sign-up button */
#signup-btn {
  background-color: #4CAF50;
  color: darkgray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

#background-container {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  background: rgb(27,0,242);
  background: linear-gradient(0deg, rgba(27,0,242,1) 0%, rgba(127,121,255,1) 100%);
  background-size: 200% 100%;
  overflow: hidden;
  -webkit-animation: sparkle 2s infinite;
  animation: sparkle 5s infinite;
}

@keyframes sparkle {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

#firstHalf {
  position: relative;
  left: 5.0vw; 
  top: 10.0vw;
  height: 85%;
  width: 50%;
  overflow-y: hidden;
  overflow-x: hidden;

}

.pushDayCard {
  position: absolute;
  background: beige;
  width: 25%;
  top: 40%;
  height: 40%;
  box-shadow: 5px 5px 5px darkblue;
  margin: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.pullDayCard {
  position: absolute;
  background: beige;
  width: 25%;
  top: 45%;
  left: 30%;
  height: 40%;
  box-shadow: 5px 5px 5px darkblue;
  margin: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.legDayCard {
  position: absolute;
  background: beige;
  width: 25%;
  top: 50%;
  left: 60%;
  height: 40%;
  box-shadow: 5px 5px 5px darkblue;
  margin: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.pushDayCard img,
.pullDayCard img,
.legDayCard img {
  position: relative;
  width: 100%;
  height: 50%;
}

.pushDayCard h3,
.pullDayCard h3,
.legDayCard h3 {
  position: relative;
  top: -3vw;
  font-size: 2.0vw;
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 10px;
}

.pushDayCard p,
.pullDayCard p,
.legDayCard p {
  position: relative;
  top: -3vw;
  font-size: 1.5vw;
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 10px;
}

.pushDayCard:hover,
.pullDayCard:hover,
.legDayCard:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.bar {
  position: absolute;
  top: 35%;
  left: 23%;
  width: 50%;
  height: 2px;
  background-color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.first-half-paragraph-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 35%;
  top: 0;
  left: 0;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.first-half-paragraph-container h1 {
  position: absolute;
  top: -10%;
  padding: 10px;
  font-size: 2.5vw;
  font-style: italic;
}

.first-half-paragraph-container p span {
  color: darkblue;
  font-weight: bold;
  font-size: 1.9vw;
}

.first-half-paragraph-container p {
  position: absolute;
  color: beige;
  top: 18%;
  padding: 10px;
  font-size: 1.7vw;
  font-style: italic;
}

.secondHalf {
  position: relative;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  top: -68%;
  left: 55vw;
  width: 42vw;
  height: 75%;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.secondHalf h1 {
  position: relative;
  top: -5%;
  left: 1.5vw;
  padding: 10px;
  font-size: 2.2vw;
  font-style: italic;
}

.secondHalf p {
  position: relative;
  color: beige;
  top: -10%;
  left: 2.0vw;
  padding: 10px;
  font-size: 1.8vw;
  font-style: italic;
}
.secondHalf p img {
  position: absolute;
  opacity: .3;
  left: 2%;
  top: 1%;
  width: 3vw;
  height: 3vw;
}

.secondHalf p span{
  color: darkblue;
  font-weight: bolder;
  font-style: normal;
}

.bar2 {
  position: absolute;
  top: 4vw;
  width: 3px;
  height: 80%;
  left: 99%;
  background-color: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}